<!DOCTYPE html>
<html>
    <head>
        <title> GccCompiler</title>
    </head>
    <body>
        <h1 align="center">Participar en la leccion {{mensaje}}</h1>
	    <p align="left">Titulo: </p>
        <p align="left">Explicacion: </p>
        <p align="left">Ejemplo: <textarea >...</textarea> </p>
        <p> <button>Compilar Ejemplo</button> </p>
        <p align="center">Enunciado de Tarea: </p>
        <p align="left">Ejemplo: <textarea >...</textarea> </p>
        <p> <button>Finalizar Tarea</button> </p>
    </body>
</html>