<!DOCTYPE html>
<html>
    <head>
        <title>{{titulo}}</title>
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet"/><-->

    </head>
    <body>
        <div class="container" align="Center">
            <h1>{{mensaje}}</h1>            
        </div>
        <p align="center">
		Titulo:<input id="f_campo_1" name="f_campo_1" type="text" class="form-control form-control-width-small" maxlength="8" value="">
		</p>
		<p align="center">
			Explicacion: <textarea >...</textarea>
		</p>
		<p align="center">
			Codigo Ejemplo: <textarea >...</textarea>
		</p>
		<p align="center">
			Enunciado Tarea: <textarea >...</textarea>
		</p>
		<p align="center">
			Prueba: <textarea >...</textarea>
		</p>
        <p align="center">
            <button>Crear nueva Leccion</button>&nbsp;&nbsp;&nbsp;
            <button>Carga Masiva</button>
        </p>
    </body>
</html>